/* src/components/menu/menu-bar.css */

.menuBar {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;

  background: #f0f0f0;
  border-bottom: 1px solid #cbd5e1;

  user-select: none;

  position: relative;
  z-index: 400;
}
